#button {
    display: flex;
    height: 6em;
    width: 6em;
    color: darkblue;
    background-color: lightblue;
    border-radius: 1em;
    margin: 0 auto;
}

#button, p {
    display: flex;
    font-size: 1.2em;
    color: darkblue;
}